    <div class="row">
        <div class="col-12 menu pt-2">
            <a href="#">Trang chủ</a>
        </div>
        <div class="col-12 menu">
            <a href="#">Tạo vận đơn mới</a>
        </div>
        <div class="col-12 menu">
            <a href="#">Quản lý vận đơn</a>
        </div>
        <div class="col-12 menu">
            <a href="#">Thông tin khách hàng</a>
        </div>
        <div class="col-12 menu">
            <a href="#">Quản lý bảng giá</a>
        </div>
        <div class="col-12 menu">
            <a href="#">Quản lý nhân công</a>
        </div>
        <div class="col-12 menu">
            <a href="#">Cài đặt hệ thống</a>
        </div>
    </div>
