<header class="row d-flex justify-content-between nav">
  <div class="col-2 nav-element fs-4">
    <span class="text-danger fw-bold px-1 text-shadow">Star </span>
    <span class="text-white fst-italic"> Express</span>
  </div>
  <div class="col-4"></div>
  <div class="col-4 search-box">
    <div class="input-group search-box_size">
      <input
              type="text"
              class="form-control"
              aria-label="Text input with dropdown button"
              placeholder="Tìm thông tin vận đơn"
      />
      <button
              class="btn btn-outline-secondary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
      >
        Đổ xuống
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#">Tìm theo mã vận đơn</a></li>
        <li>
          <a class="dropdown-item" href="#">Tìm theo số điện thoại</a>
        </li>
        <li><a class="dropdown-item" href="#">Tìm theo tên</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
  <div class="col-2 nav-element text-white">
    <i class="fa-solid fa-user mx-3"></i>
    <i class="fa-solid fa-chevron-down"></i>
  </div>
</header>